body {
    display: flex;    
    font-family: 'Overpass', sans-serif;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 230px;
}

footer {
    height: 100px;
}

