body {
    display: flex;

}

#logo {
    width: 200px;
    margin: 20px 0 40px 0;
}

.menu-navegation {
    width: 230px;
    height: 100vh;
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 1050px;
    height: 100vh;
    background-color: #e4e4e4;
}

.item-menu-nav {    
    display: flex;  
    align-items: center;  
    width: 200px;
    height: 45px;
    padding: 0 15px;    
    font-size: 0.85em;    
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
}

.item-menu-nav:hover {
    background-color: #e4e4e4;
}

.item-menu-nav a {
    color: #FFF;
    text-decoration: none;
    padding: 10px;
}

.ico-nav {
    height: 30px;
    width: 30px;
}